<!doctype html>
<html lang="en">
	<head>
		<title>ScramblNg (Scrambling)</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="js/app.js"></script>
		<style>
			.valid {

				color: #0f0;
			}

			.invalid {

				color: #f00;
			}
		</style>
	</head>
	<body ng-app="scramblngApp">
		<div class="container" ng-controller="gameController">
			<h1>ScramblNg</h1>
			<p>For each set of letters, you have one minute to type in as many words as possible.</p>
			<p><strong>searcd</strong></p>
			<div class="left-col col-sm-6">
				<form ng-submit="checkWord()">
					<div class="form-group">
						<input type="text" name="word" id="Entry" class="form-control" ng-model="wordEntry">
					</div>
				</form>
			</div>
			<div class="right-col col-sm-6">
				<p><strong>Number Of Tries:</strong> {{ numberOfTries }}</p>
				<p><strong>Number Correct:</strong> {{ numberCorrect }}</p>
				<p><strong>Percentage Correct:</strong> {{ percentageCorrect * 100 | number:2 }}%</p>
				<ul>
					<li ng-repeat="item in wordList track by $index" ng-class="{'valid' : item.valid == true, 'invalid' : item.valid == false}">{{ item.word }}</li>
				</ul>
			</div>
		</div>
	</body>
</html>